body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f8
}

body .walletconnect-modal__footer {
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@property --conic-deg {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes conic {
  from {
    --conic-deg: 360deg;
  }
  to {
    --conic-deg: 0deg;
  }
}

@keyframes lord-bounce {
  0%, 100% {
    -webkit-transform: translateY(60px) translateX(-42px);
    transform: translateY(60px) translateX(-42px);
    -webkit-animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
    animation-timing-function: cubic-bezier(0.2,0.8,0.2,1);
  }
  50% {
    -webkit-transform: translateY(68px) translateX(-42px);
    transform: translateY(68px) translateX(-42px);
    -webkit-animation-timing-function: cubic-bezier(0.2,0,0.0,1);
    animation-timing-function: cubic-bezier(0.2,0,0.0,1);
  }
}